backups/
instances/
server-files/
steamcmd/
*.exe
.idea/
.instance_log_mapping.json
*.exe~
logs/
frp/
syncthing/
mod_info.json
bin/
database_file/
clusters/
*.ark
*.arkprofile
*.arktribe
*test_data/
ark-save-tools/
app/node_modules
*/CLAUDE.md
CLAUDE.md
.claude
*/.claude
