@font-face {
  font-family: AlibabaPuHuiTi-Regular;
  src: url("./assets/fonts/AlibabaPuHuiTi-Regular.ttf");
}

@font-face {
  font-family: AlibabaPuHuiTi-Medium;
  src: url("./assets/fonts/AlibabaPuHuiTi-Medium.ttf");
}

:root {
  --td-font-family: AlibabaPuHuiTi-Regular;
  --td-font-family-medium: AlibabaPuHuiTi-Medium;
}

.main-body {
  font-family: AlibabaPuHuiTi-Regular, AlibabaPuHuiTi-Medium, serif;
}

.rcon-modal {
  .t-dialog__body {
    padding: 0 !important;
  }

  .t-dialog {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !important;
  }
}


.layout-card {
  border-radius: 8px !important;

  > .t-card__header {
    border-bottom: 1px solid #eee;
  }

  --td-comp-paddingTB-l: 12px;
  --td-comp-paddingLR-xl: 12px;
}

.server-manager-log-viewer {
  .t-dialog__body {
    height: 600px;
    padding: 0 !important;
  }
}

.layout-card-wrapper.t-card {
  display: flex;
  flex-direction: column;

  .t-card__body {
    height: 100%;
    box-sizing: border-box;
  }

  .t-card__header {
    flex: 0 0 auto;
  }

  .t-loading__parent {
    flex: 1 1 0; /* 占剩余空间，可收缩 */
    min-height: 0; /* 关键：允许收缩，禁止 min-content 阻止收缩 */
  }
}

.layout-card-wrapper:not(.t-card) {
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.t-card.t-card-flex-custom {
  display: flex;
  flex-direction: column;

  .t-card__body {
    height: 100%;
    box-sizing: border-box;
  }

  .t-card__header {
    flex: 0 0 auto;
  }

  .t-loading__parent {
    flex: 1 1 0; /* 占剩余空间，可收缩 */
    min-height: 0; /* 关键：允许收缩，禁止 min-content 阻止收缩 */
  }
}

.t-card-flex-custom-mixin() {
  :deep(.t-card) {
    display: flex;
    flex-direction: column;

    .t-card__body {
      height: 100%;
      box-sizing: border-box;
    }

    .t-card__header {
      flex: 0 0 auto;
    }

    .t-loading__parent {
      flex: 1 1 0; /* 占剩余空间，可收缩 */
      min-height: 0; /* 关键：允许收缩，禁止 min-content 阻止收缩 */
    }
  }
}

.server-cfg-edit-dialog {
  .t-dialog__body--fullscreen {
    overflow: hidden;
  }
}

.t-dialog--default {
  padding: var(--td-comp-paddingTB-l) var(--td-comp-paddingLR-l);

  .t-dialog__header {
    padding-bottom: var(--td-comp-paddingTB-l);
  }

  .t-dialog__body {
    padding: 0;
  }
}

.inst-mods-popup {
  .t-popup__content {
    padding: var(--td-comp-paddingTB-l) var(--td-comp-paddingTB-l);
  }
}

.custom-scrollbar-style() {
  overflow-y: auto;
  scrollbar-width: thin; // Firefox
  scrollbar-color: #c8c8c8 transparent;
  scrollbar-gutter: stable;

  // Chrome / Edge / Safari
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }


  // 滚动轨道
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }


  // 滚动滑块
  &::-webkit-scrollbar-thumb {
    background: rgba(160, 160, 160, 0.55);
    border-radius: 10px;

    // 留出左右间距
    border: 2px solid transparent;
    background-clip: padding-box;
  }


  // hover
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(120, 120, 120, 0.75);
    border: 2px solid transparent;
    background-clip: padding-box;
  }


  // 隐藏上下按钮
  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-button:single-button,
  &::-webkit-scrollbar-button:vertical:start:decrement,
  &::-webkit-scrollbar-button:vertical:end:increment,
  &::-webkit-scrollbar-button:horizontal:start:decrement,
  &::-webkit-scrollbar-button:horizontal:end:increment {
    display: none;
    width: 0;
    height: 0;
  }
}


.custom-scrollbar {
  overflow-y: auto;
  scrollbar-width: thin; // Firefox
  scrollbar-color: #c8c8c8 transparent;
  scrollbar-gutter: stable;

  // Chrome / Edge / Safari
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }


  // 滚动轨道
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }


  // 滚动滑块
  &::-webkit-scrollbar-thumb {
    background: rgba(160, 160, 160, 0.55);
    border-radius: 10px;

    // 留出左右间距
    border: 2px solid transparent;
    background-clip: padding-box;
  }


  // hover
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(120, 120, 120, 0.75);
    border: 2px solid transparent;
    background-clip: padding-box;
  }


  // 隐藏上下按钮
  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-button:single-button,
  &::-webkit-scrollbar-button:vertical:start:decrement,
  &::-webkit-scrollbar-button:vertical:end:increment,
  &::-webkit-scrollbar-button:horizontal:start:decrement,
  &::-webkit-scrollbar-button:horizontal:end:increment {
    display: none;
    width: 0;
    height: 0;
  }
}