.rcon-modal {
  .t-dialog__body {
    padding: 0 !important;
  }

  .t-dialog {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !important;
  }
}


.layout-card {
  border-radius: 8px !important;

  > .t-card__header {
    border-bottom: 1px solid #eee;
  }

  --td-comp-paddingTB-l: 12px;
  --td-comp-paddingLR-xl: 12px;
}

.server-manager-log-viewer {
  .t-dialog__body {
    height: 600px;
  }
}

.layout-card-wrapper.t-card {
  display: grid;

  .t-card__body {
    height: 100%;
    box-sizing: border-box;
  }

  grid-template-rows: fit-content(100%) 1fr;
}