.rcon-modal {
  .t-dialog__body {
    padding: 0 !important;
  }

  .t-dialog {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !important;
  }
}


.layout-card {
  border-radius: 8px !important;

  > .t-card__header {
    border-bottom: 1px solid #eee;
  }

  --td-comp-paddingTB-l: 12px;
  --td-comp-paddingLR-xl: 12px;
}

.server-manager-log-viewer {
  .t-dialog__body {
    height: 600px;
    padding: var(--td-comp-paddingTB-l) 0 0 0 !important;
  }
}

.layout-card-wrapper.t-card {
  display: flex;
  flex-direction: column;

  .t-card__body {
    height: 100%;
    box-sizing: border-box;
  }

  .t-card__header {
    flex: 0 0 auto;
  }

  .t-loading__parent {
    flex: 1 1 0; /* 占剩余空间，可收缩 */
    min-height: 0; /* 关键：允许收缩，禁止 min-content 阻止收缩 */
  }
}

.layout-card-wrapper:not(.t-card) {
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.t-card.t-card-flex-custom {
  display: flex;
  flex-direction: column;

  .t-card__body {
    height: 100%;
    box-sizing: border-box;
  }

  .t-card__header {
    flex: 0 0 auto;
  }

  .t-loading__parent {
    flex: 1 1 0; /* 占剩余空间，可收缩 */
    min-height: 0; /* 关键：允许收缩，禁止 min-content 阻止收缩 */
  }
}

.t-card-flex-custom-mixin() {
  :deep(.t-card) {
    display: flex;
    flex-direction: column;

    .t-card__body {
      height: 100%;
      box-sizing: border-box;
    }

    .t-card__header {
      flex: 0 0 auto;
    }

    .t-loading__parent {
      flex: 1 1 0; /* 占剩余空间，可收缩 */
      min-height: 0; /* 关键：允许收缩，禁止 min-content 阻止收缩 */
    }
  }
}

.server-cfg-edit-dialog {
  .t-dialog__body--fullscreen {
    overflow: hidden;
  }
}